body{
    background-color: #F2FFFC;
    font-family: "Crimsons Text", serif;
    font-size: 20px;
    line-height: 1.5;
}
main h1 {
    font-size: 60px;
    background-color: #851944;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 25px;
    margin: 0;
}
h2 {
    font-size: 40px;
    font-family: "Open Sans Condensed", sans-serif;
}
p {
    text-align: justify;
    margin: 20px 0;
}
blockquote {
    background-color: #D3DDDA;
    padding: 0;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 0;
    box-sizing: border-box;
}